#DataTables_Table_0_wrapper{
  border-radius: 8px !important;
  overflow: auto !important;
}

div.dt-container {
  overflow: auto;
  padding: 0;
}


/* ví dụ custom border và padding */
table.dataTable {
    border-collapse: collapse !important;
    width: 100%;
    font-size: 0.84rem;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden !important;
  }
  
  table.dataTable th,
  table.dataTable td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 0.5rem 0.75rem ;
    text-align: left ;
  }

  table.dataTable td.dt-type-numeric.dt-type-numeric{
    text-align: right;
  }
  
  /* header */
  table.dataTable thead tr{
    overflow: hidden;
    background-color: #f9fafb ;
    font-weight: bold ;
    color: rgb(108, 108, 108);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .dt-column-title.dt-column-title.dt-column-title.dt-column-title.dt-column-title.dt-column-title{
    text-align: center;
  }

  table.dataTable thead tr th{
    text-align: center;
  }

  table.dataTable tbody tr{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  /* row hover */
  table.dataTable tbody tr:hover {
    overflow: hidden;
    background-color: #f1f5f9 ;
  }

.dt-paging{
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Reset style chung cho tất cả các nút phân trang */
div.dt-container .dt-paging .dt-paging-button {
  color: unset !important;
  background: unset !important;
  border: none !important;
  border-radius: 0 !important;
}

/* Khoảng cách trên dưới của cụm nút phân trang */
.dt-paging.paging_simple_numbers {
  margin-block: 10px;
}

/* Style cho nút đang được chọn (current) */
div.dt-container .dt-paging .dt-paging-button.current.current.current {
  background-color: #ff69b4 !important;
  color: #ffffff !important;
  border-radius: 100px !important;
  border: none !important;
}

/* Hover cho các nút còn lại */
div.dt-container .dt-paging .dt-paging-button:hover:hover {
  background-color: #f7d3e5 !important;
  color: #000000 !important;
  border-radius: 100px !important;
}

.dt-column-order{
  display: none;
}

.user-cell{
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-name{
  font-weight: 500;
}

.avatar{
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-inline-end: 10px;
}

.status-badge{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-badge.status-completed {
  
  background-color: #fee2e2;
  color: #991b1b;
}

.status-badge.status-in-progress {
  background-color: #fef3c7;
  color: #92400e;
}

.status-badge.status-new {
  background-color: #d1fae5;
  color: #065f46;
  
}

.status-badge.status-default {
  background-color: #e5e7eb;
  color: #374151;
}

.btn-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}